@{
    ViewBag.Title = "Contact Us...";
}
<h3>@ViewBag.Title</h3>
<h4>@ViewBag.Message</h4>

<address>
    <br />

    <strong>Mobile:</strong>   +91 9921407517<br />
    <strong>Email:</strong>   <a href="mailto:amol_kobal@rediffmail.com">Amol Kobal</a><br />
</address>
