@{
    ViewBag.Title = "Home | Contact Management System";
}

<div class="jumbotron">
    <h3>A system to manage all of your <i>Contacts</i></h3>

    <br />
    <p>
        Contact Management System gives you a way to maintain all of your Contacts...
    </p>
    <br />
    @Html.ActionLink("Start Here...", "Index", "Contact")
</div>

